@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --chat--color-primary: #06c5e6;
  --chat--color-primary-shade-50: #45e3ff;
  --chat--color-primary-shade-100: #b3ecf7;

  --chat--color-secondary: #20b69e;
  --chat--color-secondary-shade-50: #1ca08a;
  --chat--color-white: #ffffff;
  --chat--color-light: #f2f4f8;
  --chat--color-light-shade-50: #e6e9f1;
  --chat--color-light-shade-100: #c2c5cc;
  --chat--color-medium: #d2d4d9;
  --chat--color-dark: #101330;
  --chat--color-disabled: #777980;
  --chat--color-typing: #404040;

  --chat--spacing: 1rem;
  --chat--border-radius: 0.25rem;
  --chat--transition-duration: 0.15s;

  --chat--window--width: 400px;
  --chat--window--height: 600px;

  --chat--header-height: auto;
  --chat--header--padding: var(--chat--spacing);
  --chat--header--background: var(--chat--color-dark);
  --chat--header--color: var(--chat--color-light);
  --chat--header--border-top: none;
  --chat--header--border-bottom: none;
  --chat--header--border-bottom: none;
  --chat--header--border-bottom: none;
  --chat--heading--font-size: 2em;
  --chat--header--color: var(--chat--color-light);
  --chat--subtitle--font-size: inherit;
  --chat--subtitle--line-height: 1.8;

  --chat--textarea--height: 50px;

  --chat--message--font-size: 1rem;
  --chat--message--padding: var(--chat--spacing);
  --chat--message--border-radius: var(--chat--border-radius);
  --chat--message-line-height: 1.8;
  --chat--message--bot--background: var(--chat--color-white);
  --chat--message--bot--color: var(--chat--color-dark);
  --chat--message--bot--border: none;
  --chat--message--user--background: var(--chat--color-secondary);
  --chat--message--user--color: var(--chat--color-white);
  --chat--message--user--border: none;
  --chat--message--pre--background: rgba(0, 0, 0, 0.05);

  --chat--toggle--background: var(--chat--color-primary);
  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);
  --chat--toggle--active--background: var(--chat--color-primary-shade-100);
  --chat--toggle--color: var(--chat--color-white);
  --chat--toggle--size: 80px;
}

.chat-window-toggle:not(:hover) {
  svg {
    display: none !important; // Hide default icon
  }

  &::before {
    content: "";
    position: absolute;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 50%;
    width: 50px;
    transform: translate(-50%, -50%);
    background-image: url("../images/logo_white.png"); // Your custom icon path
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.animatedText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -0.04em;
    background: linear-gradient(180deg, #6f6ca6 0%, #499ebd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    filter: drop-shadow(0 5px 0.2rem #4d4d4d27);
    @media only screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
  .floatingGummie {
    position: absolute;
    width: 100px;
    object-fit: contain;
    @media only screen and (max-width: 600px) {
      width: 50px;
    }
    &:nth-child(1) {
      left: 50px;
      top: 0px;
    }
    &:nth-child(2) {
      left: 170px;
      top: 170px;
    }
    &:nth-child(3) {
      right: 150px;
      top: 50px;
    }
    &:nth-child(4) {
      right: 70px;
      top: 200px;
    }
    &:nth-child(5) {
      right: 210px;
      top: 400px;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
    &:nth-child(6) {
      left: 80px;
      top: 300px;
    }
    &:nth-child(7) {
      right: 20px;
      top: 250px;
      z-index: -1;
      width: 100px;
    }
  }
  .floatingGar,
  .floatingGar2 {
    position: absolute;
  }
  .floatingGar {
    transform: translate(40vw, 40px);
    object-fit: contain;
    width: 40vw;
    filter: drop-shadow(0 10px 0.3rem #4d4d4d52);
    @media only screen and (max-width: 600px) {
      width: 30vw;
    }
  }
  .floatingGar2 {
    transform: translate(0px, -80px);
    object-fit: contain;
    width: 350px;
    filter: drop-shadow(0 10px 0.3rem #4d4d4d52);
    @media only screen and (max-width: 600px) {
      width: 30vw;
    }
  }
}

.shimmer-line {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: relative;
  animation: shimmer 1.5s infinite linear;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.custom-swal {
  z-index: 2050; /* Adjust this value as needed */
}
.swal2-container {
  z-index: 50000 !important; /* Apply the z-index */
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #ccc;
  margin-bottom: 10px !important;
  transition: 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover {
  background-color: #06c5e6 !important;
}

.swiper-pagination-bullet-active {
  background-color: #06c5e6 !important;
}

img {
  object-fit: cover; 
   background:#f2f2f2 url("../images/defaultImg.jpg") cover center no-repeat;

    transition: opacity 0.3s ease
}

[role="img"] {
  background:#f2f2f2 url("../images/defaultImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
